Tugas 4_Nazwa Gita Naysilla_AI04.json
{
  "name": "Tugas 4_Nazwa Gita Naysilla_AI04",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -16
      ],
      "id": "8db027c6-56c5-42cb-8755-e754f1f2fd9c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ifWXABHCaxHLIRBCcXpJoUEEflwXsrEa",
          "mode": "list",
          "cachedResultName": "Panduan Penulisan Ilmiah Tugas Akhir Skripsi.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1ifWXABHCaxHLIRBCcXpJoUEEflwXsrEa/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        -16
      ],
      "id": "0916b734-01be-40ef-9d4c-96323f294d0d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gFYtWatzRzysrQ2p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        128,
        -32
      ],
      "id": "60d977da-7198-4dd9-9121-75bc3b6c848f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "N3N7LqONDiGi48vG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        176,
        176
      ],
      "id": "cfa63981-fa67-427c-80b7-3d908200af70",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        224
      ],
      "id": "492a6bc6-6e0f-45cd-a3b8-e6f649fc3b2b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Dxmd29Y74UzUWEHA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "availableInChat": true,
        "agentDescription": "Kamu adalah AI assistant yang membantu menjawab pertanyaan pengguna.\n\nGunakan informasi dari dokumen jika tersedia.\nJika tidak ada informasi yang relevan, tetap jawab dengan pengetahuan umum secara jelas dan sopan.\n\nJangan mengatakan input tidak valid.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        464
      ],
      "id": "590e95bd-85b1-46d2-9521-4a5581e76d44",
      "name": "When chat message received",
      "webhookId": "7ae44fe2-f30c-4948-8eb9-673f70e65f1e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.sessionId || $json.chatId || \"default-session\"}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        464
      ],
      "id": "e3f6987e-446b-4ab8-8867-b14485fd7ee1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        672
      ],
      "id": "f7b25549-a8ea-4ed6-8c0a-caed4d9986c1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Dxmd29Y74UzUWEHA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "panggil tool supabase vector store ini untuk mendapatkan informasi panduan menulis bab 1 tulisan ilmiah",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        368,
        656
      ],
      "id": "1f590d7f-742b-4dc1-ab00-fc3539f01deb",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "N3N7LqONDiGi48vG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId || $json.chatId || \"default-session\"}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        16,
        704
      ],
      "id": "535b1069-5949-4160-a848-8c081133f606",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "vDhCRrkF3nLcgIwZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "="
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        672
      ],
      "id": "979fd06e-4b82-459a-b7d6-d9156826b28c",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        608
      ],
      "typeVersion": 1,
      "id": "89ab7047-e05e-417b-8511-ff5b6435a271",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5b0d97a3-b354-4aed-9630-437e2e3c553f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45f3c68741ebd8d61cd31f7b60028f923de681a6edb22f25ea63c0ae4d7c83de"
  },
  "id": "x77xsAk2E90URgcR",
  "tags": []
}